<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-2">Загрузка...</p>
    </div>
</div>
