@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand bi bi-house-gear-fill" href="#"> Myholas</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
  
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="weather">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-cloud-haze2-fill ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Weather</div>
            </NavLink>
        </div>

        </AuthorizeView>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="devices">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-nvme-fill ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Устройства</div>
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="automations">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-gear-fill ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Автоматизации</div>
            </NavLink>
        </div>

        <div class="nav-item px-0">
            <NavLink class="nav-link" href="users">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-universal-access ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Пользователи</div>
            </NavLink>
        </div>

        <div class="nav-item px-0">
            <NavLink class="nav-link" href="registration">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-person-plus-fill ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Регистрация</div>
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="login">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-lock-fill ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Авторизация</div>
            </NavLink>
        </div>
        <div class="nav-item px-0 mt-0">
            <NavLink class="nav-link text-danger" href="logout">
                <div class="d-inline-flex m-0 p-0"><span class="bi bi-box-arrow-right ms-2" style="font-size: 1.5em;" aria-hidden="true"></span> Выход</div>
            </NavLink>
        </div>

    </nav>
</div>


