@page "/devices"

@using Myholas.Web.Client.Pages.Existions

@* client rendering && disable pre-rendering *@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inherits SecureComponentBase

<SecureContent IsLoading="IsLoading" IsAuthenticated="IsAuthenticated">
    
    <h3>ESPHome devices, вы: @CurrentUser?.Username</h3>

    @if (IsAdmin)
    {
        <div class="alert alert-info">Вы Администратор.</div>
    }

    @if (groups == null)
    {
        <p>Загружаем список устройств...</p>
        <LoadingSpinner />
    }
    else
    {
        <div class="row">
            @foreach (var deviceGroup in groups)
            {
                <div class="col-12">
                    <DeviceGroupCard DeviceGroup="deviceGroup" />
                </div>
            }
        </div>
    }
</SecureContent>

@code {
    private List<DeviceOutputModel>? groups;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync(); 

        if (IsAuthenticated)
        {
            groups = await Api.GetGroupedDevicesAsync();
        }
    }
}
