@page "/devices"
@using Microsoft.AspNetCore.Authorization
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@* Наследуемся от базового класса *@
@inherits SecureComponentBase

<h3>Устройства ESPHome</h3>

@if (!IsAuthenticated)
{
    <div class="alert alert-danger">Доступ ограничен. Пожалуйста, войдите.</div>
}
else
{
    <h3>Устройства пользователя @CurrentUser?.Username</h3>
    
    @if (IsAdmin)
    {
        <div class="alert alert-info">Вы вошли как Администратор системы.</div>
    }

    <div class="row">
            @foreach (var deviceGroup in groups)
            {
                <div class="col-12">
                    <DeviceGroupCard DeviceGroup="deviceGroup" />
                </div>
            }
        </div>    
}

@code {
    private List<DeviceOutputModels>? groups;

    protected override async Task OnInitializedAsync()
    {
        // Вызываем проверку из базового класса
        await base.OnInitializedAsync();

        if (IsAuthenticated)
        {
            groups = await Api.GetGroupedDevicesAsync();
        }
    }
}