@using Microsoft.AspNetCore.Components.Authorization

@if (IsVisible)
{
    <!-- Затемнение фона -->
    <div class="modal-backdrop fade show"></div>

    <!-- Модальное окно -->
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-card border-0 shadow">
                
                @* верх *@
                <div class="modal-header bg-white border-bottom py-3">
                    <h5 class="modal-title text-main">@Title</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>

                @* Тело *@
                <div class="modal-body p-4">
                    @ChildContent
                </div>

                @* Футер  *@
                
                <div class="modal-footer bg-white border-top py-3">
                    <!--
                    <button type="button" class="btn btn-outline-secondary py-2 px-4" @onclick="Close">
                        Закрыть
                    </button>
                     -->
                </div>
               
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }

    [Parameter] public string Title { get; set; } = "Заголовок";
    
    // RenderFragment позволяет передавать любой HTML/компоненты внутрь модалки
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    // сообщит родителю что окно нужно закрыть
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}
