<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Устройства
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="dbdevices">
        <span class="oi oi-database" aria-hidden="true"></span> БД устройства
    </NavLink>
</div>