@page "/unauthorized"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div class="container content">

    <h3 class="text-center mb-5">Access Denied</h3>

    <!--  центрируем содержимое -->
    <div class="row justify-content-center">
        <!--  занимать 7 из 12 колонок -->
        <div class="col-11 col-md-7">
            
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Доступ запрещен!</strong> У вас нет прав для просмотра этой страницы или ваша сессия истекла                            
                </div>

            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="/" class="btn btn-secondary">На главную</a>
                <a href="/login" class="btn btn-primary">Войти заново</a>
            </div>
        </div>
    </div>

</div>

@code {
   
}
